{% extends "_base.html.twig" %}

{% block title %}New Thread{% endblock %}

{% block content %}

    <a href="/">Back to the Board</a>


        <h1>Create a new Thread</h1>
    <div class="divThread">
        <form action="/threads/new" method="post">
            <input type="text" class="form-control" name="title" required minlength="3" maxlength="30" placeholder="Title">
            <br>
            <textarea class="form-control" name="content" required minlength="10" maxlength="600"
                      placeholder="Write something!"></textarea>
            <br>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
{% endblock %}