<html>
<head>
  <title>Message Board</title>
</head>
<body>
<h1>
    Message Board
</h1>
{% for thread in threads %}
<div>
    <h3>{{ thread.title }}</h3>
    <p>{{ thread.excerpt }}...</p>
</div>
{% endfor %}
</body>
</html>