<html>
<head>
  <title>Login - Message Board</title>
</head>
<body>
<h1>
    Login
</h1>

<form action="{{ loginURL() }}" method="post">
  Username:<br>
  <input type="text" name="username" value="Username">
  Password<br>
  <input type="password" name="password" value=""><br>
  <input type="submit" value="Submit">
</form>
<p>Don't have an account yet? Register <a href="{{ registerURL() }}">here</a></p>

</body>
</html>
