{% extends "_base.html.twig" %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>{{ block('title') }}</h1>

<form action="/user/register" method="post">
  Username:<br>
   <input type="text" name="username" value="Username"><br/>
   Password<br/>
   <input type="password" name="password" value="">
   <br/>
   <input type="submit" value="Submit">
</form>

<p>Already have an account? Login <a href="/user/login">here</a></p>

{% endblock %}