{% extends "_base.html.twig" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>
    <div class="divThread">
        <form action="/user/register" method="post">
            <p>Username</p>
            <input type="text" class="form-control" name="username" required minlength="3" maxlength="50"
                   placeholder="Enter username">
            <br>
            <p>Password</p>
            <input type="password" class="form-control" name="password" required minlength="3" maxlength="50"
                   placeholder="Enter password">
            <br>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <p>Already have an account? Login <a href="/user/login">here</a></p>

{% endblock %}