<html>
<head>
  <title>Register - Message Board</title>
</head>
<body>
<h1>
    Register
</h1>

<form action="/user/register" method="post">
  Content:<br>
   <input type="text" name="username" value="Username">
   <br/>
   <input type="password" name="password" value="">
   <br/>
   <input type="submit" value="Submit">
</form>

<p>Already have an account? Login <a href="/user/login">here</a></p>

</body>
</html>
