{% extends "_base.html.twig" %}

{% block title %}Report  - Comment #{{ commentId }}{% endblock %}

{% block content %}

    <a href="/">Back to the Board</a>

    <br>
    <div class="divThread">
        <form action="/comments/{{commentId}}/report" method="post">
            <h1>Complaint:</h1>
            <input type="text"  class="form-control" name="complaint" placeholder="Your complaint">
            <br>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
